<div class="audit">
    <h2>Audit Form</h2>
    <mat-card>
        <div class="row">
            <div class="col-md-9 drag_input">
                <div class="row">
                    <div class="col-md-10">
                        <mat-form-field appearance="outline">
                            <mat-label>Form No.</mat-label>
                            <input matInput placeholder="Form No.">
                           </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>delete</mat-icon>
                          </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Form No.</mat-label>
                            <input matInput placeholder="Form No.">
                           </mat-form-field>
                    </div>
                    <div class="col-md-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Form No.</mat-label>
                            <input matInput placeholder="Form No.">
                            </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>delete</mat-icon>
                          </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Form No.</mat-label>
                            <input matInput placeholder="Form No.">
                            </mat-form-field>
                    </div>
                    <div class="col-md-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Form No.</mat-label>
                            <input matInput placeholder="Form No.">
                            </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>delete</mat-icon>
                          </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Form No.</mat-label>
                            <input matInput placeholder="Form No.">
                           </mat-form-field>
                    </div>
                    <div class="col-md-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Form No.</mat-label>
                            <input matInput placeholder="Form No.">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>delete</mat-icon>
                          </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                fkvjdf
            </div>
        </div>
    </mat-card>
</div>
