<div class="audit">
    <h2>Audit Forms </h2>
    <p class="text-right">Site/Audit Forms</p>
    <!-- <mat-card class="pb-8">  -->
        <h2>Site: My Chemist VIC Plenty Valley</h2>  
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  January
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  February 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  March 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  April 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  May
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  June 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  July 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  August 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  September
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  October
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  November
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  December
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="fuse-widget-front">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Scheduled Date</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                          <tr>
                            <td>15-05-2020 to 30-05-2020</td>
                            <td>Weekly</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span>Pending</span></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
            </mat-expansion-panel>

          </mat-accordion>
          
    <!-- </mat-card> -->
</div>
