.audit_category{
    width:100%;
    float:left;
    padding: 20px;
}
.bg-primary{
    background-color: #DBB042 !important;
}
.bg-disable{
    background-color: #ddd !important;
    color:#888;
}
.enable_disbale_btn {
    cursor: pointer;
}
span{
    color: #fff;
    padding: 8px 14px;
    border-radius: 3px;
}
.overflow-auto{
    overflow: auto;
    border: 1px solid #ddd;
}
.confirm_btn{
    
}
