<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">General Information</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Name</div>
                    <div class="info">Masscon Admin</div>
                </div>

                <div class="info-line">
                    <div class="title">Email</div>
                    <div class="info">massconadmin@gmail.com</div>
                </div>

                <div class="info-line">
                    <div class="title">Phone</div>
                    <div class="info">+34-985989898</div>
                </div>

                <a class="pass_change" href="" routerLink="/change-password">Change password</a>
            </div>

           

        </div>
    </div>
</div>
