<div class="audit_category">
    <div class="pr-8 py-16 h-52" fxLayout="row"
    fxLayoutAlign="space-between center">
    <h3>Training category</h3>
    <button mat-raised-button color="primary" class="mb-3" (click)="openCreateDialog()">Create</button>
    </div>
        <mat-card>
            <div class="d-flex justify-content-between">

              <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div class="fuse-widget-front">

              <div class="simple-table-container overflow-auto" ms-responsive-table>
                  <table class="simple">
  
                      <thead>
                        <tr>
                          <th colspan="4">Name</th>
                          <th scope="col" class="text-right">Action</th>
                        </tr>
                      </thead>
  
                      <tbody>
                        <tr>
                          <td colspan="4">Cleaners</td>
                          <td class="text-right">
                              <button mat-icon-button color="primary" (click)="openCreateDialog()">
                                  <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="openDeleteDialog()">
                                  <mat-icon>delete</mat-icon>
                                </button>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="4">Cleaners</td>
                          <td class="text-right">
                            <button mat-icon-button color="primary" (click)="openCreateDialog()">
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="openDeleteDialog()">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="4">Cleaners</td>
                          <td class="text-right">
                            <button mat-icon-button color="primary" (click)="openCreateDialog()">
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="openDeleteDialog()">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="4">Cleaners</td>
                          <td class="text-right">
                            <button mat-icon-button color="primary" (click)="openCreateDialog()">
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="openDeleteDialog()">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
  
          </div>
        </mat-card>
</div>