<div class="audit">
  <h2>View Chapter </h2>
    <p class="text-right">Training/Training Chapters/View Chapter </p>
    <hr>
    <!-- <mat-card class="pb-8">  -->
        <h2>Trainings: How to prevent coronavirus</h2>  
        <mat-card>
             <h2>Category: How to prevent coronavirus</h2>
             <hr>
             <div class="mat-card">
             <h4>What is COVID-19</h4>
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

             <h4>What is COVID-19</h4>
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                   <h4>What is COVID-19</h4>
                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                      <h4>What is COVID-19</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
             </div>
             <h2>Videos</h2>
             <hr>
             <div fxLayout="row wrap" class="mat-card">
                 <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33">
                    <iframe src="https://www.youtube.com/embed/7z0kzYpuqhw" frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div>
             </div>
             <h2>Documents</h2>
             <hr>
             <div class="fuse-widget-front mat-card">

                <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                    <table class="simple">
    
                        <thead>
                          <tr>
                            <th scope="col">Doc</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>apple.png</td>
                            <td>
                                <button mat-icon-button color="primary" routerLink="/">
                                    <mat-icon>get_app</mat-icon>
                                  </button>
                            </td>
                            
                          </tr>
                          <tr>
                              <td>apple.png</td>
                              <td>
                                  <button mat-icon-button color="primary" routerLink="/">
                                      <mat-icon>get_app</mat-icon>
                                    </button>
                              </td>
                            </tr>
                            <tr>
                              <td>apple.png</td>
                              <td>
                                <button mat-icon-button color="primary" routerLink="/">
                                    <mat-icon>get_app</mat-icon>
                                  </button>
                              </td>
                            </tr>
              
                        </tbody>
                    </table>
                    <button mat-raised-button color="primary" class="m-24" routerLink="/training-chapter">Back</button>
                </div>
                
            </div> 
        </mat-card>
        </div>