<div class="dash">
    <h2>Welcome</h2>
    <div class="mat-card card_field">
      <mat-form-field appearance="outline">
        <mat-label>Month</mat-label>
        <mat-select>
          <mat-option >January</mat-option>
          <mat-option >February</mat-option>
          <mat-option >March </mat-option>
          <mat-option >April</mat-option>
          <mat-option >May</mat-option>
          <mat-option >June </mat-option>
        </mat-select>
      </mat-form-field> 
      <mat-form-field appearance="outline">
        <mat-label>Year</mat-label>
        <mat-select>
          <mat-option >2020</mat-option>
          <mat-option >2019</mat-option>
          <mat-option >2018 </mat-option>
          <mat-option >2017</mat-option>
          <mat-option >2016</mat-option>
          <mat-option >2015 </mat-option>
        </mat-select>
      </mat-form-field>   
    </div>
    <div class="row">
        <div class="col-md-6 width-50">
           <div class="mat-card">
            <div class="dashboard">
                <h4>Incident Report</h4>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">State</th>
                            <th scope="col">Total Audit</th>
                            <th scope="col">Reported</th>
                            <th scope="col">Missed</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Delhi</td>
                            <td>0</td>
                            <td>0 </td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td>Goa</td>
                            <td>0</td>
                            <td>0 </td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td>Delhi</td>
                            <td>0</td>
                            <td>0 </td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td>Karnataka</td>
                            <td>0</td>
                            <td>0 </td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td>Karnataka</td>
                            <td>0</td>
                            <td>0 </td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td>Goa</td>
                            <td>0</td>
                            <td>0 </td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td>Maharashta</td>
                            <td>0</td>
                            <td>0 </td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td>Rajasthan</td>
                            <td>0</td>
                            <td>0 </td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td>Kerala</td>
                            <td>0</td>
                            <td>0 </td>
                            <td>0</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
           </div> 
        </div>

        <div class="col-md-6 width-50">
            <div class="mat-card">
             <div class="dashboard">
                 <h4>Audit Report</h4>
                 <div class="table-responsive text-nowrap">
                     <table class="table">
                         <thead class="thead-light">
                           <tr>
                             <th scope="col">State</th>
                             <th scope="col">Total Audit</th>
                             <th scope="col">Reported</th>
                             <th scope="col">Missed</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>Delhi</td>
                             <td>0</td>
                             <td>0 </td>
                             <td>0</td>
                           </tr>
                           <tr>
                             <td>Goa</td>
                             <td>0</td>
                             <td>0 </td>
                             <td>0</td>
                           </tr>
                           <tr>
                             <td>Delhi</td>
                             <td>0</td>
                             <td>0 </td>
                             <td>0</td>
                           </tr>
                           <tr>
                             <td>Karnataka</td>
                             <td>0</td>
                             <td>0 </td>
                             <td>0</td>
                           </tr>
                           <tr>
                             <td>Karnataka</td>
                             <td>0</td>
                             <td>0 </td>
                             <td>0</td>
                           </tr>
                           <tr>
                             <td>Goa</td>
                             <td>0</td>
                             <td>0 </td>
                             <td>0</td>
                           </tr>
                           <tr>
                             <td>Maharashta</td>
                             <td>0</td>
                             <td>0 </td>
                             <td>0</td>
                           </tr>
                           <tr>
                             <td>Rajasthan</td>
                             <td>0</td>
                             <td>0 </td>
                             <td>0</td>
                           </tr>
                           <tr>
                             <td>Kerala</td>
                             <td>0</td>
                             <td>0 </td>
                             <td>0</td>
                           </tr>
                         </tbody>
                       </table>
                   </div>
               </div>
            </div> 
         </div>
    </div>
</div>

