<div class="audit">
    <h2>Training Question</h2>
      <hr>
      <!-- <mat-card class="pb-8">  -->
        <div  fxLayout="row" fxLayoutAlign="space-between center">
          <h2>Trainings: How to prevent coronavirus</h2>
          <button mat-raised-button color="primary" class="mb-3">Add Question</button>
        </div>
            
          <mat-card class="card-color">
            <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                <p>1) Question</p>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="65" class="padd-top">
               <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" class="py-0">
                  <input matInput placeholder="Title" value="When do you need seek medical advise ?">
              </mat-form-field>
              <button mat-icon-button color="primary" routerLink="/">
                <mat-icon>delete</mat-icon>
              </button>
               </div>
              </div>
            </div>
            <mat-card>
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20">
                  <p>1) Option</p>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" class="padd-top">
                 <div fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field appearance="outline" class="py-0">
                    <input matInput placeholder="Title" value="High Fever">
                </mat-form-field>
                 </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" class="pl-16">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="1">Correct answer</mat-radio-button>
                    </mat-radio-group>
                 <button mat-icon-button color="primary" routerLink="/" class="vertical-middle">
                   <mat-icon>delete</mat-icon>
                 </button>
                  </div>
                 </div>
                 <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20" class="text-right">
                  <button mat-raised-button color="primary" class="mb-3">Add Option</button>
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20">
                  <p>2) Option</p>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" class="padd-top">
                 <div fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field appearance="outline" class="py-0">
                    <input matInput placeholder="Title" value="Difficulty breathing">
                </mat-form-field>
                 </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" class="pl-16">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="2" checked>Correct answer</mat-radio-button>
                    </mat-radio-group>
                 <button mat-icon-button color="primary" routerLink="/" class="vertical-middle">
                   <mat-icon>delete</mat-icon>
                 </button>
                  </div>
                 </div>
              </div>
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20">
                  <p>3) Option</p>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" class="padd-top">
                 <div fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field appearance="outline" class="py-0">
                    <input matInput placeholder="Title" value="Cough">
                </mat-form-field>
                 </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" class="pl-16">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="3">Correct answer</mat-radio-button>
                    </mat-radio-group>
                 <button mat-icon-button color="primary" routerLink="/" class="vertical-middle">
                   <mat-icon>delete</mat-icon>
                 </button>
                  </div>
                 </div>
              </div>
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20">
                  <p>4) Option</p>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" class="padd-top">
                 <div fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field appearance="outline" class="py-0">
                    <input matInput placeholder="Title" value="cold">
                </mat-form-field>
                 </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" class="pl-16">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="4">Correct answer</mat-radio-button>
                    </mat-radio-group>
                 <button mat-icon-button color="primary" routerLink="/" class="vertical-middle">
                   <mat-icon>delete</mat-icon>
                 </button>
                  </div>
                 </div>
              </div>
            </mat-card>
          </mat-card>

          <mat-card class="card-color">
            <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                <p>2) Question</p>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="65" class="padd-top">
               <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" class="py-0">
                  <input matInput placeholder="Title" value="When do you need seek medical advise ?">
              </mat-form-field>
              <button mat-icon-button color="primary" routerLink="/">
                <mat-icon>delete</mat-icon>
              </button>
               </div>
              </div>
            </div>
            <mat-card>
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20">
                  <p>1) Option</p>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" class="padd-top">
                 <div fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field appearance="outline" class="py-0">
                    <input matInput placeholder="Title" value="High Fever">
                </mat-form-field>
                 </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" class="pl-16">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="1">Correct answer</mat-radio-button>
                    </mat-radio-group>
                 <button mat-icon-button color="primary" routerLink="/" class="vertical-middle">
                   <mat-icon>delete</mat-icon>
                 </button>
                  </div>
                 </div>
                 <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20" class="text-right">
                  <button mat-raised-button color="primary" class="mb-3">Add Option</button>
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20">
                  <p>2) Option</p>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" class="padd-top">
                 <div fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field appearance="outline" class="py-0">
                    <input matInput placeholder="Title" value="Difficulty breathing">
                </mat-form-field>
                 </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" class="pl-16">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="2" checked>Correct answer</mat-radio-button>
                    </mat-radio-group>
                 <button mat-icon-button color="primary" routerLink="/" class="vertical-middle">
                   <mat-icon>delete</mat-icon>
                 </button>
                  </div>
                 </div>
              </div>
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20">
                  <p>3) Option</p>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" class="padd-top">
                 <div fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field appearance="outline" class="py-0">
                    <input matInput placeholder="Title" value="Cough">
                </mat-form-field>
                 </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" class="pl-16">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="3">Correct answer</mat-radio-button>
                    </mat-radio-group>
                 <button mat-icon-button color="primary" routerLink="/" class="vertical-middle">
                   <mat-icon>delete</mat-icon>
                 </button>
                  </div>
                 </div>
              </div>
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20">
                  <p>4) Option</p>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" class="padd-top">
                 <div fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field appearance="outline" class="py-0">
                    <input matInput placeholder="Title" value="cold">
                </mat-form-field>
                 </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" class="pl-16">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="4">Correct answer</mat-radio-button>
                    </mat-radio-group>
                 <button mat-icon-button color="primary" routerLink="/" class="vertical-middle">
                   <mat-icon>delete</mat-icon>
                 </button>
                  </div>
                 </div>
              </div>
            </mat-card>
          </mat-card>
          <div class="row">
            <div class="col-md-12 mt-8 pb-8">
            <button mat-raised-button color="primary" routerLink="/">Update</button> &nbsp;&nbsp;
            <button mat-raised-button routerLink="/">Cancel</button>
        </div>
          </div> 