<div class="dash">
  <h2>Welcome</h2>
  <div class="mat-card card" fxLayout="row wrap">
    <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
    fxFlex.gt-sm="50">
    <mat-form-field appearance="outline">
      <mat-label>Month</mat-label>
      <mat-select>
        <mat-option >January</mat-option>
        <mat-option >February</mat-option>
        <mat-option >March </mat-option>
        <mat-option >April</mat-option>
        <mat-option >May</mat-option>
        <mat-option >June </mat-option>
      </mat-select>
    </mat-form-field> 
  </div>
  <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
  fxFlex.gt-sm="50">
    <mat-form-field appearance="outline">
      <mat-label>Year</mat-label>
      <mat-select>
        <mat-option >2020</mat-option>
        <mat-option >2019</mat-option>
        <mat-option >2018 </mat-option>
        <mat-option >2017</mat-option>
        <mat-option >2016</mat-option>
        <mat-option >2015 </mat-option>
      </mat-select>
    </mat-form-field>  
    </div> 
  </div>
  <div fxLayout="row wrap">
      <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="50">
         <div class="mat-card">
          <div class="dashboard">
              <h4>Incident Report</h4>
             
              <div class="overflow-auto text-nowrap">
                  <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Site</th>
                          <th scope="col">Total Audit</th>
                          <th scope="col">Reported</th>
                          <th scope="col">Missed</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Northern Territory</td>
                          <td>0</td>
                          <td>0 </td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>Western Australia</td>
                          <td>0</td>
                          <td>0 </td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>South Australia</td>
                          <td>0</td>
                          <td>0 </td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>Victoria</td>
                          <td>0</td>
                          <td>0 </td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>Australian Capital</td>
                          <td>0</td>
                          <td>0 </td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>Territory</td>
                          <td>0</td>
                          <td>0 </td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>Tasmania</td>
                          <td>0</td>
                          <td>0 </td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>Tasmania</td>
                          <td>0</td>
                          <td>0 </td>
                          <td>0</td>
                        </tr>
                      </tbody>
                      <thead >
                        <tr>
                          <th scope="col">Total</th>
                          <th scope="col">0</th>
                          <th scope="col">0</th>
                          <th scope="col">0</th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>
         </div> 
      </div>

      <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="50">
          <div class="mat-card">
           <div class="dashboard">
               <h4>Audit Report</h4>
               <div class="text-nowrap overflow-auto">
                   <table class="table">
                       <thead class="thead-light">
                         <tr>
                           <th scope="col">Site</th>
                           <th scope="col">Total Audit</th>
                           <th scope="col">Reported</th>
                           <th scope="col">Missed</th>
                           <th scope="col">Pending</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>Northern Territory</td>
                           <td>0</td>
                           <td>0 </td>
                           <td>0</td>
                           <td>0</td>
                         </tr>
                         <tr>
                           <td>Western Australia</td>
                           <td>0</td>
                           <td>0 </td>
                           <td>0</td>
                           <td>0</td>
                         </tr>
                         <tr>
                           <td>South Australia</td>
                           <td>0</td>
                           <td>0 </td>
                           <td>0</td>
                           <td>0</td>
                         </tr>
                         <tr>
                           <td> Victoria	</td>
                           <td>0</td>
                           <td>0 </td>
                           <td>0</td>
                           <td>0</td>
                         </tr>
                         <tr>
                           <td>Australian Capital</td>
                           <td>0</td>
                           <td>0 </td>
                           <td>0</td>
                           <td>0</td>
                         </tr>
                         <tr>
                           <td>Territory</td>
                           <td>0</td>
                           <td>0 </td>
                           <td>0</td>
                           <td>0</td>
                         </tr>
                         <tr>
                           <td>Tasmania</td>
                           <td>0</td>
                           <td>0 </td>
                           <td>0</td>
                           <td>0</td>
                         </tr>
                         <tr>
                           <td>Tasmania</td>
                           <td>0</td>
                           <td>0 </td>
                           <td>0</td>
                           <td>0</td>
                         </tr>
                       </tbody>
                       <thead >
                        <tr>
                          <th scope="col">Total</th>
                          <th scope="col">0</th>
                          <th scope="col">0</th>
                          <th scope="col">0</th>
                          <th scope="col">0</th>
                        </tr>
                      </thead>
                     </table>
                 </div>
             </div>
          </div> 
       </div>
  </div>

  <div fxLayout="row wrap">
    <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
    fxFlex.gt-sm="50">
        <div class="mat-card">
         <div class="dashboard">
             <h4>Action Plans</h4>
             <div class="text-nowrap overflow-auto">
                 <table class="table">
                     <thead class="thead-light">
                       <tr>
                         <th scope="col">Site</th>
                         <th scope="col">Total Audit</th>
                         <th scope="col">Reported</th>
                         <th scope="col">Missed</th>
                         <th scope="col">Pending</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td>Northern Territory</td>
                         <td>0</td>
                         <td>0 </td>
                         <td>0</td>
                         <td>0</td>
                       </tr>
                       <tr>
                         <td>Western Australia</td>
                         <td>0</td>
                         <td>0 </td>
                         <td>0</td>
                         <td>0</td>
                       </tr>
                       <tr>
                         <td>South Australia</td>
                         <td>0</td>
                         <td>0 </td>
                         <td>0</td>
                         <td>0</td>
                       </tr>
                       <tr>
                         <td> Victoria	</td>
                         <td>0</td>
                         <td>0 </td>
                         <td>0</td>
                         <td>0</td>
                       </tr>
                       <tr>
                         <td>Australian Capital</td>
                         <td>0</td>
                         <td>0 </td>
                         <td>0</td>
                         <td>0</td>
                       </tr>
                       <tr>
                         <td>Territory</td>
                         <td>0</td>
                         <td>0 </td>
                         <td>0</td>
                         <td>0</td>
                       </tr>
                       <tr>
                         <td>Tasmania</td>
                         <td>0</td>
                         <td>0 </td>
                         <td>0</td>
                         <td>0</td>
                       </tr>
                       <tr>
                         <td>Tasmania</td>
                         <td>0</td>
                         <td>0 </td>
                         <td>0</td>
                         <td>0</td>
                       </tr>
                     </tbody>
                     <thead >
                      <tr>
                        <th scope="col">Total</th>
                        <th scope="col">0</th>
                        <th scope="col">0</th>
                        <th scope="col">0</th>
                        <th scope="col">0</th>
                      </tr>
                    </thead>
                   </table>
               </div>
           </div>
        </div> 
     </div>

     <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
     fxFlex.gt-sm="50">
        <div class="mat-card">
         <div class="dashboard">
             <h4>Customers</h4>
            <div fxLayout="row wrap" class="py-8">
              <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
              fxFlex.gt-sm="50">
                <div class="border-line" fxLayout="row" fxLayoutAlign="space-between center">
                  <p>Northern Territory</p>
                  <p>0</p>
              </div>
              <div class="blue"></div>
            </div>
            <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
              fxFlex.gt-sm="50">
                <div class="border-line" fxLayout="row" fxLayoutAlign="space-between center">
                  <p>Northern Territory</p>
                  <p>0</p>
              </div>
              <div class="blue"></div>
            </div>
            </div>
            <div fxLayout="row wrap" class="py-8">
              <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
              fxFlex.gt-sm="50">
                <div class="border-line" fxLayout="row" fxLayoutAlign="space-between center">
                  <p>Northern Territory</p>
                  <p>0</p>
              </div>
              <div class="yellow"></div>
            </div>
            <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
              fxFlex.gt-sm="50">
                <div class="border-line" fxLayout="row" fxLayoutAlign="space-between center">
                  <p>Northern Territory</p>
                  <p>0</p>
              </div>
              <div class="yellow"></div>
            </div>
            </div>
            <div fxLayout="row wrap" class="py-8">
              <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
              fxFlex.gt-sm="50">
                <div class="border-line" fxLayout="row" fxLayoutAlign="space-between center">
                  <p>Northern Territory</p>
                  <p>0</p>
              </div>
              <div class="green"></div>
            </div>
            <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
              fxFlex.gt-sm="50">
                <div class="border-line" fxLayout="row" fxLayoutAlign="space-between center">
                  <p>Northern Territory</p>
                  <p>0</p>
              </div>
              <div class="green"></div>
            </div>
            </div>
            <div fxLayout="row wrap" class="py-8">
              <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
              fxFlex.gt-sm="50">
                <div class="border-line" fxLayout="row" fxLayoutAlign="space-between center">
                  <p>Northern Territory</p>
                  <p>0</p>
              </div>
              <div class="red"></div>
            </div>
            <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
              fxFlex.gt-sm="50">
                <div class="border-line" fxLayout="row" fxLayoutAlign="space-between center">
                  <p>Northern Territory</p>
                  <p>0</p>
              </div>
              <div class="red"></div>
            </div>
            </div>
            <div fxLayout="row wrap" class="py-8">
              <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
              fxFlex.gt-sm="50">
                <div class="border-line" fxLayout="row" fxLayoutAlign="space-between center">
                  <p>Northern Territory</p>
                  <p>0</p>
              </div>
              <div class="blue"></div>
            </div>
            </div>
           </div>
        </div> 
     </div> 
</div>

<div class="staff">
  <div class="mat-card">
    <h4>Staff</h4>
    <div fxLayout="row wrap" class="py-8">
      <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="50">
        <mat-card class="p-0">
            <div class="name_cunt blue">NWZ</div>
            <div class="count_name">
              <p>Northern Territory</p>
              <p>0</p>
            </div>
        </mat-card>
    </div>
    <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="50">
      <mat-card class="p-0">
        <div class="name_cunt blue">NWZ</div>
        <div class="count_name">
          <p>Northern Territory</p>
          <p>0</p>
        </div>
    </mat-card>
    </div>
    </div>
    <div fxLayout="row wrap" class="py-8">
      <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="50">
        <mat-card class="p-0">
            <div class="name_cunt yellow">NWZ</div>
            <div class="count_name">
              <p>Northern Territory</p>
              <p>0</p>
            </div>
        </mat-card>
    </div>
    <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="50">
      <mat-card class="p-0">
        <div class="name_cunt yellow">NWZ</div>
        <div class="count_name">
          <p>Northern Territory</p>
          <p>0</p>
        </div>
    </mat-card>
    </div>
    </div>
    <div fxLayout="row wrap" class="py-8">
      <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="50">
        <mat-card class="p-0">
            <div class="name_cunt green">NWZ</div>
            <div class="count_name">
              <p>Northern Territory</p>
              <p>0</p>
            </div>
        </mat-card>
    </div>
    <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="50">
      <mat-card class="p-0">
        <div class="name_cunt green">NWZ</div>
        <div class="count_name">
          <p>Northern Territory</p>
          <p>0</p>
        </div>
    </mat-card>
    </div>
    </div>
    <div fxLayout="row wrap" class="py-8">
      <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="50">
        <mat-card class="p-0">
            <div class="name_cunt red">NWZ</div>
            <div class="count_name">
              <p>Northern Territory</p>
              <p>0</p>
            </div>
        </mat-card>
    </div>
    <div class="dash_table" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="50">
      <mat-card class="p-0">
        <div class="name_cunt red">NWZ</div>
        <div class="count_name">
          <p>Northern Territory</p>
          <p>0</p>
        </div>
    </mat-card>
    </div>
    </div>
  </div>
</div>

</div>

