<div class="audit">
    <h2>Edit Customer</h2>
    <mat-card>
        <form name="customerEditForm" [formGroup]="customerEditForm">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" required>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Company</mat-label>
                    <input matInput formControlName="company" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                </mat-form-field>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phoneNumber" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="userName" required>
                </mat-form-field>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" required >
                </mat-form-field>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Site</mat-label>
                    <mat-select formControlName="siteName">
                      <mat-option *ngFor="let site of siteList" value="{{site.siteName}}">{{site.siteName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-12 mt-3">
            <button mat-raised-button color="primary" type="submit" (click) ="editCustomer()">Save</button> &nbsp;&nbsp;
            <button mat-raised-button routerLink="/customer">Cancel</button>
        </div>
        </div>
    </form>
    </mat-card>
</div>
