<div class="audit">
    <h2>Training Chapters </h2>
    <p class="text-right">Training/Training Chapters </p>
    <hr>
    <!-- <mat-card class="pb-8">  -->
        <h2>Trainings: How to prevent coronavirus</h2>  
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <button mat-raised-button color="primary" class="mb-3" routerLink="">Create</button>
            </div>
            <div class="fuse-widget-front">

              <div class="simple-table-container overflow-auto text-nowrap" ms-responsive-table>
                  <table class="simple">
  
                      <thead>
                        <tr>
                          <th scope="col">Title</th>
                          <th scope="col">Modified</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
  
                      <tbody>
                        <tr>
                          <td>What is COVID-19</td>
                          <td>01-june-2020</td>
                          <td>
                            <button mat-icon-button color="primary" routerLink="/chapter-view">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                              <button mat-icon-button color="primary" routerLink="/chapter-edit">
                                  <mat-icon>edit</mat-icon>
                                </button>
                          </td>
                        </tr>
                        <tr>
                            <td>What is COVID-19</td>
                            <td>01-june-2020</td>
                            <td>
                              <button mat-icon-button color="primary" routerLink="/chapter-view">
                                  <mat-icon>remove_red_eye</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" routerLink="/chapter-edit">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                            </td>
                          </tr>
                          <tr>
                            <td>What is COVID-19</td>
                            <td>01-june-2020</td>
                            <td>
                              <button mat-icon-button color="primary" routerLink="/chapter-view">
                                  <mat-icon>remove_red_eye</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" routerLink="/chapter-edit">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                            </td>
                          </tr>
            
                      </tbody>
                  </table>
              </div>
  
          </div>  
        </mat-card>
        </div>